/* .CustomAgentUIExample {
    position: relative;
    background: black;
    color: white;
    justify-content: center;
    display: flex;
    flex: 1;
    width: 100% !important;
    overflow: hidden;
    height: 100vh;
  }
  
  .CustomAgentUIExample .agent-session{
    width: 100% !important;
   height: 100vh;
    padding: 30px !important;
  }
  
  .CustomAgentUIExample .error {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    background: rgb(196, 64, 77);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 120;
  }
  
  .CustomAgentUIExample .loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 110;
  }
  
  .CustomAgentUIExample .disconnected {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background: rgb(196, 64, 77);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
  }

  .CustomAgentUIExample .EndedSession p{
    color: #fff !important;
  }
  
  .CustomAgentUIExample .screen {
    width: 100% !important;
    height: 500px !important;
    border-radius: 30px;
  }
  
  .CustomAgentUIExample .agent-controls {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    padding-bottom: 20px !important;
  }
  
  .CustomAgentUIExample .btn {
    padding: 15px 20px;
    background: rgb(51, 51, 54);
    font-size: 0.85em;
    color: white;
    cursor: pointer;
    border-left: 1px solid rgb(70, 70, 73);
  }
  
  .CustomAgentUIExample .btn:hover {
    opacity: 0.95;
  }
  
  .CustomAgentUIExample .btn-left-most {
    border-radius: 10px 0px 0 10px;
    border-left: 0px none;
  }
  
  .CustomAgentUIExample .btn-right-most {
    border-radius: 0 10px 10px 0;
  }
  
  .CustomAgentUIExample .btn-selected {
    background: rgb(26, 26, 28);
  }
  
  .CustomAgentUIExample .btn-end {
    background: rgb(196, 64, 77);
  }
  
  .CustomAgentUIExample .full-device-on {
    background: rgb(45, 161, 37);
  }
  
  .CustomAgentUIExample .timer {
    color: white !important;
    background: rgb(51, 51, 54) !important;
    width: 60px !important;
    height: 30px !important;
    border-radius: 20px !important;
    margin-right: 10px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-size: 12px !important;
    font-weight: bold !important;
  }
  
  .App {
    display: flex;
    flex-direction: row;
    text-align: center;
  }
  
  .App .customer-view {
    width: 380px;
    height: 600px;
    padding: 15px;
    display: flex;
    flex-direction: column;
  }
  
  .App .agent-view {
    flex: 1;
    padding: 15px;
    height: 600px;
    display: flex;
    flex-direction: column;
  }
  
  .FakeWindow {
    border-radius: 5px;
    flex: 1;
    display: flex;
    overflow: hidden;
    border: 1px solid #ccc;
    background: #fcfcfc;
    box-shadow: 0px 0px 10px #aaaaaa55;
  }
  
  .FakeWindow .window-chrome {
    border-bottom: 1px solid #ccc;
    padding: 2px;
    background: #eee;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .FakeWindow .window-chrome-buttons {
    text-align: left;
    font-size: 0px;
  }
  
  .FakeWindow .window-chrome-buttons::before,
  .FakeWindow .window-chrome-buttons::after {
    border-radius: 100%;
    content: "";
    width: 18px;
    height: 18px;
    display: inline-block;
    margin: 2px;
    background: white;
    opacity: 0.5;
    border: 1px solid #bbb;
  }
  
  .FakeWindow .window-content {
    background: white;
    flex: 1;
  }
  .agent-session-frame{
    width: 100%;
  }
  .agent-session{
    height: 100vh;
  } */
.fk {
  border-radius: 0 !important;
}
.cobroIfrmContainer {
  height: 100%;
  width: 100%;
  background: rgb(248 248 248);
}

.CustomAgentUIExample {
  width: 100%;
  height: 100%;
}

.agent-session {
  width: 100%;
  height: 100%;
}

.CustomAgentUIExample .agent-controls {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  /* padding-bottom: 20px !important; */
  /* margin-top: 20px !important; */
}

.CustomAgentUIExample .btn {
  padding: 8px 15px;
  background: rgb(51, 51, 54);
  font-size: 0.1em;
  color: white;
  cursor: pointer;
  border-left: 1px solid rgb(70, 70, 73);
}

.CustomAgentUIExample .btn:hover {
  opacity: 0.95;
}

.CustomAgentUIExample .btn-left-most {
  border-radius: 10px 0px 0 10px;
  border-left: 0px none;
}

.CustomAgentUIExample .btn-right-most {
  border-radius: 0 10px 10px 0;
}

.CustomAgentUIExample .btn-selected {
  background: rgb(26, 26, 28);
}

.CustomAgentUIExample .btn-end {
  background: rgb(196, 64, 77);
}

.CustomAgentUIExample .full-device-on {
  background: rgb(45, 161, 37);
}

.CustomAgentUIExample .timer {
  color: white !important;
  background: rgb(51, 51, 54) !important;
  width: 60px !important;
  height: 30px !important;
  border-radius: 20px !important;
  margin-right: 10px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  font-size: 12px !important;
  font-weight: bold !important;
}

/* 
.panel {
  background-color: #ffffff;
  width: 80%;
  max-width: 700px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#present-url {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#share-button,
#end-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#share-button:hover,
#end-button:hover {
  background-color: #0056b3;
}

#preview {
  width: 100%;
  height: auto;
  margin-top: 20px;
  overflow: hidden;
  display: none;
  border: 1px solid #ccc;
} */
